.circle-wrapper {
  position: absolute;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: var(--lines-color) var(--lines-width) solid;
  z-index: 10;
  top: calc(50% - 530px / 2);
  left: calc(50% - 530px / 2);

  .circle-axis {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }

  /* Мини-круги (Кнопки) */
  .dot-wrapper {
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--black-blue);
    cursor: pointer;
    flex-shrink: 0;

    transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
      background 0.4s state;

    display: flex;
    align-items: center;
    justify-content: center;

    .dot:not(&.active) {
      overflow: hidden;
    }

    &.active,
    &.hover {
      width: 56px;
      height: 56px;
      background: var(--background);
      border: var(--black-blue) var(--lines-width) solid;
    }
  }

  .dot-title {
    position: absolute;
    white-space: nowrap;
    color: var(--black-blue);
    left: calc(100% + 20px);
    opacity: 0;
    transform: translateY(5px); /* Можно добавить легкий вылет снизу */
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.circle-periods {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  z-index: -1;

  &__start {
    color: var(--iris);
  }

  &__end {
    color: var(--fuschia);
  }
}

.circle-controllers {
  margin: auto 0 0;

  .navigation-controls {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
  }

  .navigation-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background);
    border: var(--lines-color) var(--lines-width) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--black-blue);

    opacity: 0.6;

    svg {
      width: 50%;
      height: 50%;
    }

    &--left svg {
      transform: translateX(-2px);
    }

    &--right svg {
      transform: translateX(2px);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.content-section {
  position: relative;
  height: 135px;
  width: 100%;
  margin-top: 56px;

  .swiper-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    pointer-events: none;

    & > * {
      pointer-events: all;
    }

    .navigation-control--left {
      margin-left: -60px;
    }

    .navigation-control--right {
      margin-right: -60px;
    }

    .navigation-control--disabled {
      opacity: 0;
      pointer-events: none;
      cursor: default;
    }
  }

  .detail-item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__date {
      color: var(--blue);
    }
  }
}
