@use "./circular-swiper";

.cross {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  background: var(--lines-color)
}

.cross::before {
  width: 100%;
  height: var(--lines-width);
  top: 50%;
  transform: translateY(-50%);
}

.cross::after {
  height: 100%;
  width: var(--lines-width);
  left: 50%;
  transform: translateX(-50%);
}

.history-dates__title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 60px);
    left: -80px;
    height: 120px;
    width: 5px;
    background: linear-gradient(180deg, var(--blue) 0%, var(--fuschia) 100%);
  }
}

.history-dates__container {
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 170px 80px 100px 80px;
  border-left: var(--lines-color) var(--lines-width) solid;
  border-right: var(--lines-color) var(--lines-width) solid;

  display: flex;
  flex-direction: column;
}
