@use "reset.scss";
@use 'history-dates.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: #f4f5f9;
    --blue: #3877EE;
    --black-blue: #42567A;
    --iris: #5D5FEF;
    --fuschia: #EF5DA8;
    --lines-color: rgba(66, 86, 122, 0.1);

    --lines-width: 1px;

}

html,
body {
    position: relative;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
#root {
  height: 100%;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--black-blue);
}

.text-bold {
  font-weight: 700;
}

.text-xs {
  font-size: 0.875rem;
}

.text-p {
  font-size: 1.25rem;
}

.text-p-xl {
  font-size: 1.5625rem;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}