.text-bold {
  font-weight: 700;
}

.text-xs {
  font-size: 0.875rem;
}

.text-p {
  font-size: 1.25rem;
}

.text-p-xl {
  font-size: 1.5625rem;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

.text-h {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-xxl {
  font-size: 3.5rem;
}

@media (min-width: 1280px) {
  .text-xs {
    font-size: 0.875rem;
  }

  .text-p {
    font-size: 1.25rem;
  }

  .text-p-xl {
    font-size: 1.5625rem;
  }

  .text-h {
    font-size: 3.5rem;
  }

  .text-xxl {
    font-size: 12.5rem;
  }
}
